{% extends "base.html" %}
{% block content %}

<div class="container">

  <h1 class="header center">
    Comprendre les régimes politiques
  </h1>
  <div class="subheader center">
    <p>
      Je m'informe et je propose des régimes politiques alternatifs ou complémentaires avec la 5ème République
    </p>
  </div>

  <hr/>

  <div class="section scrollspy center" id="description" name="Description">
    <ul>
      <li>
        <p>
          Cette étape représente <b>95% du succès de cette initiative</b>, c'est pourquoi elle sera facilement attaquée par les partisans du régime politique actuel.
        </p>
      </li>
      <li>
        <p>
          Résistez aux arguments démagogiques qui apparaitront, concentrez-vous sur les idées et restez unis sur le fait que <b>vous avez le devoir et la légitimité de choisir un régime politique qui vous intéresse</b>, et pas un régime que l'on vous impose sans alternative possible !
        </p>
      </li>
      <li>
        <p>
          Les partisans du régime politique actuel représentent une majorité en terme de bruit (merci les médias dominants) mais pas en terme de pouvoir.
        </p>
      </li>
      <li>
        <h5>
          La majorité des citoyens qui veut une autre solution représente le plus grand pouvoir et a toute légitimité pour se faire entendre !
        </h5>
      </li>
    </ul>
  </div>

  <hr/>

  <div class="section scrollspy center" id="survey" name="Sondage">
    {% include 'chart.html' with surveydata=survey desc=True vote=True %}
  </div>

  <hr/>

  {% if profile_systems %}

  <div class="section scrollspy center" id="profile_systems" name="Mes régimes politiques">

    {% for system in profile_systems %}

    {% include 'system.html' with system=system %}

    {% endfor %}

  </div>

  {% endif %}

  <div class="section scrollspy center" id="systems" name="Les régimes politiques">

    <h2>Les régimes politiques</h2>

    {% if systems %}

    <form action="/searchsystem" method="get" class="row">
      <div class="input-field col s8">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
      {% if user.is_authenticated %}
      <div class="input-field col s4">
        <input id="profile_systems" name="profile_systems">
      </div>
      {% endif %}
    </form>

    {% for system in systems %}

    {% include 'system.html' with system=system %}

    {% endfor %}

    {% else %}

    <p>Pas de régime politique enregistré.</p>

    {% endif %}

  </div>

  <div class="form">

    <form method="post" action="/systems" class="row">

      <div id="addsystem" class="modal">

        <div class="modal-content">

          <h2 class="center">Proposer un régime politique</h2>

          {% csrf_token %}
          <p class="red-text">
            <i class="material-icons left">warning</i>Tout régime politique proposé sera évalué par les administrateurs de la plateforme pour comprendre en quoi il se différencie des autres régimes politiques et de la démocratie représentative de la 5ème République. Afin de faciliter l'accès à l'information des utilisateurs, il est vivement conseillé de proposer des vidéos en guise de media/description/mise en place !
          </p>
          <div class="input-field col s6">
            <i class="material-icons prefix">title</i>
            <input id="name" class="validate" type="text" name="name" required>
            <label for="name">Nom</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">website</i>
            <input id="website" class="validate" type="url" name="url" required>
            <label for="website">Site web</label>
          </div>
          <div class="input-field file-field col s6">
            <i class="material-icons prefix">video_library</i>
            <input id="video" class="validate" type="url" name="video" required>
            <label for="video">Video</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">perm_media</i>
            <select id="categories" name="categories" multiple>
              {% for category in categories %}
              <option value="category.name">{{ category.name }}</option>
              {% endfor %}
            </select>
            <label for="categories">Catégories</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <textarea id="description" class="materialize-textarea validate" name="description" required></textarea>
            <label for="description">Description</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">settings</i>
            <textarea id="implementation" class="materialize-textarea validate" name="implementation" required></textarea>
            <label for="implementation">Mise en place</label>
          </div>
        </div>
        <div class="modal-footer"><button type="submit" name="action" class="waves-effect waves-green btn-flat" value="Ajouter">Ajouter</button>
        </div>
      </div>

    </form>

  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light" href="{% if user.is_authenticated %}#addsystem{% else %}/login?next=systems{% endif %}">
      <i class="material-icons">add</i>
    </a>
  </div>

</div>

{% endblock %}
