{% extends "base.html" %}
{% block content %}

<div class="container center">

	<h1 class="header">
		Vote et mise en place d'un régime politique
	</h1>

	<h5>Date du vote le :</h5>

	<h3 class="subheader">
		8 Avril 2017
	</h3>

	<p>
		(deux semaines avant le premier tour des présidentielles)
	</p>

	<div class="divider"></div>

	<div class="section scrollspy" id="description" name="Description">

		<p>Une fois les <a href="/systems">régimes politiques</a> étudiés...</p>

		<div class="row center">
			<div class="col s5 card hoverable">
				<div class="card-image activator">
					<i class="material-icons large">mode_edit</i>
				</div>
				<div class="card-content activator">
					<p>
						Je m'inscris à <a href="#offices">un bureau de vote citoyen.</a>
					</p>
				</div>
			</div>
			<div class="col s5 offset-s2 card hoverable">
				<i class="material-icons large">format_list_numbered</i>
				<p>Je <a target="_blank" href="http://www.votedevaleur.org/co/voteParNotation.html">vote par jugement majoritaire</a>, deux semaines avant le premier tour des présidentielles</p>
			</div>
			<div class="col s12 card hoverable">
				<i class="material-icons large">thumb_up</i>
				<p>Je participe au lancement du régime politique élu démocratiquement en respectant sa mise en place</p>
			</div>
		</div>
	</div>

	<div class="divider" ></div>

	<div class="section scrollspy" id="processing" name="Mise en place">
		<h2>Mise en place</h2>

		<p>
			Une fois un régime politique choisi par une majorité du peuple, le peuple doit décider de sa mise en place avec toute la légitimité qui incombe au nombre que représente ce peuple, en respectant ou non le processus de mise en place du régime politique choisi.
		</p>

		<p>
			Si le gouvernement s'oppose à la mise en place du régime politique, alors la majorité du peuple a le choix de respecter les règles de la 5ème république en participant à des élections (présidentielles, législatives, etc.) ou d'imposer sa volonté au gouvernement en bloquant le fonctionnement des institutions qui lui barrent la route (rien de plus efficace qu'un blocage des bâtiments administratifs du gouvernement).
		</p>

		<h5>
			Le peuple Français a choisi la démocratie représentative pour veiller sur le peuple.
		</h5>

		<h5>
			Si cette démocratie ne remplit plus sa tâche à notre époque, alors le peuple a le devoir de changer de régime politique.
		</h5>

	</div>


	<hr/>

	<div class="section scrollspy" id="offices" name="Bureaux de vote">

		<h1 class="center" id="offices">Bureaux de vote</h1>

		<div class="center">
			<a href="#!" class="btn waves-effect waves-light" onclick="getCurrentPosition();"><i class="material-icons left">my_location</i>Me localiser</a>
			<p id="error"></p>
			Ou
			<div class="input-field">
				<input id="zipcode" type="text" onchange="getLocation();" />
				<label for="zipcode">Code postal</label>
			</div>
		</div>

		<div id="map" class="map"></div>

		<script type="text/javascript">
			var map = new ol.Map({
				target: 'map',
				layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				})
				],
				view: new ol.View({
					center: ol.proj.fromLonLat([37.41, 8.82]),
					zoom: 16
				})
			});
			function getCurrentPosition() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(
						function(pos) {
							map.getView().setCenter(ol.proj.fromLonLat([pos.coords.longitude, pos.coords.latitude]));
						}
						);
				} else {
					$('#error').innerHTML = 'Ce navigateur ne supporte pas la géolocalisation.';
				}
			};
			function getLocation() {
				var zipcode = $('zipcode').val();
				// TODO : go to zipcode
			};
		</script>

		<div class="modal">

			<form method="post" action="/addoffice">

				<div class="modal-content">

					<h2>Créer un bureau de vote</h2>

					<div class="row">

						<div class="col s6 input-field">

							<i class="material-icons prefix">title</i><input name="name" type="text" id="name" />
							<label for="name" class="validate">Nom</label>

						</div>

						<div class="col s6 input-field">

							<i class="material-icons prefix">location_on</i><input type="text" id="location" name="location" disabled />
							<label for="location" class="validate"></label>

						</div>

						<div class="input-field col s12">
							<i class="material-icons prefix">description</i>
							<textarea id="description" class="materialize-textarea validate" name="description"></textarea>
							<label for="description">Description</label>
						</div>

						<div class="center">
							<button class="btn waves-effect waves-light">Créer le bureau de vote</button>
						</div>

					</div>

				</div>

				<div class="modal-footer">
					<input type="submit" name="action" class="modal-action waves-effect waves-green btn-flat" value="Ajouter">
					<a class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
				</div>

			</form>

		</div>

	</div>

</div>

{% endblock %}
