{% load static %}

<!DOCTYPE html>
<html>
<head>

    {% block header %}

    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css", media="screen,projection" />

    <!-- c3 -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.0/ol.css" />

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="https://buttons.github.io/buttons.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.0/ol.js"></script>

    <!-- nouislider -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <!-- d3 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <!-- c3 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

    <!-- dropify -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/css/dropify.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/js/dropify.min.js" ></script>
    <link rel="stylesheet" type="text/eot" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/fonts/dropify.eot" />
    <link rel="stylesheet" type="image/svg" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/fonts/dropify.svg" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/fonts/dropify.ttf" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/fonts/dropify.woff" />

    {% endblock %}

    <div id="fb-root"></div>

</head>

<body>
    {% block body %}

    {% block navbar %}

    <ul id="usermenu" class="dropdown-content">
        <li><a href="/account" {% if page == 'account' %}class="active"{% endif %}>Mon compte</a></li>
        <li class="divider"></li>
        <li><a href="/logout?next={{ next }}">déconnexion</a></li>
    </ul>

    <ul class="side-nav" id="mobile-menu">
        {% if user.is_authenticated %}
        <li><a class="waves-effect waves-light {% if page == 'account' %} active{% endif %}" href="/account">{{ user.email }}</a></li>
        <li><a class="waves-effect waves-light btn" href="/logout?next={{ next }}">Déconnexion</a></li>
        {% else %}
        <li><a class="waves-effect waves-light btn" href="/login?next={{ next }}">Connexion</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="/give" class="waves-effect{% if page == 'give' %} active{% endif %}">Échanges</a></li>
        <li><a href="/share" class="waves-effect{% if page == 'share' %} active{% endif %}">Emprunts</a></li>
        <li><a href="/stock" class="waves-effect{% if page == 'stock' %} active{% endif %}">Stocks</a></li>
        <li><a href="/add" class="waves-effect{% if page == 'add' %} active{% endif %}">Proposer produit/stock</a></li>
    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo{% if page == 'home' %} active{% endif %}">
                    Co Use It
                </a>
                <ul id="nav-lechangement" class="right hide-on-med-and-down">
                    <li class="{% if page == 'give' %}active{% endif %}"><a href="/give">Échanges</a></li>
                    <li class="{% if page == 'share' %}active{% endif %}"><a href="/share">Emprunts</a></li>
                    <li class="{% if page == 'stock' %}active{% endif %}"><a href="/stock">Stocks</a></li>
                    <li><a href="/edit" class="waves-effect{% if page == 'edit' %} active{% endif %}">Proposer produit/stock</a></li>
                    {% if user.is_authenticated %}
                    <!-- Dropdown Trigger -->
                    <li class="{% if page == 'account' %}active{% endif %}"><a class="dropdown-button" href="#!" data-activates="usermenu">{{ user.email }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                    <li><a class="waves-effect waves-light btn" href="/login?next={{ next }}">Connexion</a></li>
                    {% endif %}
                </ul>
                <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    {% endblock %}

    {% if errors %}

    {% for error in errors %}

    <script type="text/javascript">
        var $toastContent = $('<p class="red-text">{{ error }}</p>');
        Materialize.toast($toastContent, 5000, 'rounded');
    </script>

    {% endfor %}

    {% endif %}

    {% if successes %}

    {% for success in successes %}

    <script type="text/javascript">
        var $toastContent = $('<p class="green-text">{{ success }}</p>');
        Materialize.toast($toastContent, 5000, 'rounded');
    </script>

    {% endfor %}

    {% endif %}

    <div class="container loader">

        {% if tableofcontents %}
        <div class="row">
            <div class="col l11 m9 s12">
                {% endif %}

                {% block content %}
                {% endblock %}

                {% if tableofcontents %}
            </div>
            {% endif %}

            {% if tableofcontents %}

            {% block rightmenu %}
            <div class="col l1 m3 hide-on-small-only container">
                <div class="rightmenu">
                    <ul>{% if page != 'edit' %}
                        <li>
                            <a href="/edit" class="btn-floating btn-large red"><i class="material-icons">add</i></a>
                        </li>
                        {% endif %}
                    </ul>
                    <script src="https://liberapay.com/lechangement/widgets/receiving.js"></script>
                    <ul class="section table-of-contents">
                        {% block tableofcontents %}
                        {% endblock %}
                    </ul>
                    {% block action %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>

        <script type="text/javascript">
            var tableofcontents = $('.table-of-contents')[0];
            var scrollspies = $('.scrollspy');
            for (var i = 0; i < scrollspies.length; i++) {
                var scrollspy = scrollspies[i];
                var scrollspyChild = document.createElement('li');
                var scrollspylink = document.createElement('a');
                scrollspyChild.appendChild(scrollspylink);
                var scrollspytxt = document.createTextNode(scrollspy.getAttribute('name'));
                scrollspylink.setAttribute('href', '#'+scrollspy.id);
                scrollspylink.appendChild(scrollspytxt);
                tableofcontents.appendChild(scrollspyChild);
            }
        </script>

        {% endif %}

    </div>

    <script type="text/javascript" charset="utf-8">
        {% block script %}
        {% endblock %}
    </script>

    <script src="{% static 'js/app.js' %}" type="text/javascript" charset="utf-8"></script>

    {% endblock %}

</body>

<footer class="page-footer white-text">
    {% block footer %}
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="header">
                    Qui est derrière cette plateforme ?
                </h5>
                <a href="https://github.com/b3j0f" target="_blank">
                    <div class="chip">
                        <img src="{% static "img/apt-get-install-freedom.jpg" %}" alt="Contact Person">
                        b3j0f
                    </div>
                </a>
                <br/>
                Nous soutenir
                <script src="https://liberapay.com/lechangement/widgets/receiving.js"></script>
                <form name="newsletter" id="newsletter" action="/newsletter" method="post">
                    <div class="input-field col s8">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate" name="email" />
                        <label for="email" class="white-text">Newsletter</label>
                    </div>
                    <div class="col s2">
                        <input type="submit" class="btn waves-effect waves-light hide-on-small-only" value="Me tenir informé" />
                    </div>
                </form>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                    <li>
                        <a href="/stats">Statistiques</a>
                    </li>
                    <li>
                        <a href="/about">À propos</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                    <li>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/b3j0f/lechangement/subscription" data-style="mega" data-count-href="/b3j0f/lechangement/watchers" data-count-api="/repos/b3j0f/lechangement#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch b3j0f/lechangement on GitHub">Sources</a>
                    </li>
                    <li>
                        <a class="twitter-follow-button"
                        href="https://twitter.com/lechangement007"></a>
                    </li>
                    <li>
                        <g:follow href="https://plus.google.com/communities/114161877128649492848"></g:follow>
                    </li>
                    <li>
                        Photos : <a href="https://pixabay.com/" target="_blank">https://pixabay.com/</a>
                    </li>
                    <li>
                        Icônes <a href="http://www.flaticon.com/" target="_blank">http://www.flaticon.com/</a>
                    </li>
                    <li>
                        Logo : <a href="https://logomakr.com" target="_blank">https://logomakr.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row container">
            <div class="col s12 m2 l4">
                <p><a rel="license" class="left" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
            </div>
            <div class="col m10 l8">
                <p class="hide-on-small-only">Ce site est sous licence <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></p>
            </div>
        </div>
    </div>
    {% endblock %}
</footer>

</html>
