{% load i18n %}

<input type="hidden" name="{{ name }}-category" id="{{ name }}-category" value="{{ category.name }}" />

<a class="btn tooltipped" id="{{ name }}-category-choose" data-tooltip="{% trans 'open/close category choice' %}" onclick="$('#{{ name }}-categories').fadeToggle();"></a>

<div id="{{ name }}-categories" class="carousel carousel-slider" data-indicators="true" data-fullWidth="true">
	<div class="carousel-fixed-item">
		<div class="row">
			<div class="col s3">
				<a class="btn waves-effect navigator" onclick="$('#{{ name }}-categories').carousel('prev');" id="{{ name }}-predCategories">
					<i class="material-icons">keyboard_arrow_left</i>
				</a>
			</div>
			<div class="col s6">
				<div class="input-field">
					<input name="custom" id="custom" type="text" />
					<label for="custom">
						{% trans 'Custom' %}
					</label>
				</div>
			</div>
			<div class="col s3">
				<a class="btn waves-effect navigator" id="{{ name }}-nextCategories" onclick="$('#{{ name }}-categories').carousel('next');">
					<i class="material-icons">keyboard_arrow_right</i>
				</a>
			</div>
		</div>
	</div>
	<div id="{{ name }}-categories-0" class="{{ name }}-categories carousel-item red lighten-2" href="#one!">
	</div>
	<div id="{{ name }}-categories-1" class="{{ name }}-categories carousel-item red lighten-2" href="#two!">
	</div>
	<div id="{{ name }}-categories-2" class="{{ name }}-categories carousel-item red lighten-2" href="#three!">
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	{% include 'categories.js' %}
</script>