{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>
	{% if product %}Modification{% else %}Ajout{% endif %}
</h2>

<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s6"><a class="active" href="#edit">Édition</a></li>
			<li class="tab col s6"><a class="active" href="#demo">Aperçu</a></li>
		</ul>
	</div>
</div>

<div id="edit">
	<form method="post" enctype="multipart/form-data" action={{ url }}>
		{% csrf_token %}
		<input type="hidden" name="id" value="{{ product.id }}" />
		<div class="row">
			<div class="col l12">
				<div class="row card">

					<div class="input-field col s3">
						<select name="type" onchange="changetype()" id="type">
							<option value="product" selected>Bien</option>
							<option value="stock">Stock</option>
						</select>
						<label>Type</label>
					</div>

					<div class="col s9 input-field">
						<i class="material-icons prefix">title</i>
						<input type="text" name="name" placeholder="Appareil photo Nikon D80" id="name" onchange="updateProperty('name')" value="{{ product.id }}" class="maxlength" data-length="50" />
						<label for="name">Nom</label>
					</div>

					<div class="col s12 input-field">
						<i class="material-icons left">subtitles</i>
						<input type="text" name="shortdescription" placeholder="10 millions de pixels, carte mémoire 2 Go" id="shortdescription" onchange="updateProperty('shortdescription')" value="{{ product.shortdescription }}" data-length="120" class="maxlength" />
						<label for="shortdescription">Description courte</label>
					</div>

					<div class="col s12 input-field">
						<i class="material-icons left">description</i>
						<textarea id="description" name="description" class="materialize-textarea maxlength" onchange="updateProperty('description')" data-length="255">{{ product.description }}</textarea>
						<label for="description">Description</label>
					</div>

					<div class="col s12" id="capacities">
						Capacités
						<table class="bordered striped highlight centered responsive-table">
							<thead><tr><td>Montant</td><td>Catégorie</td><td></td></tr></thead>
							<tbody id="capacities"></tbody>
						</table>
					</div>

					<div class="col s12" id="medias">
						<h5>
							<i class="material-icons left">add_a_photo</i>
							Photos
						</h5>
						<div class="row">
						</div>
					</div>

					<div class="col s12" id="conditions">
						<ul class="collapsible" data-collapsible="expandable">
							<li id="gives">
								<div class="collapsible-header">
									<i class="material-icons">trending_flat</i>
									Conditions de don
								</div>
								<div class="collapsible-body">
									<ul class="collection">
										<li class="collection-item">
											<table class="bordered striped highlight centered">
												<thead>
													<tr>
														<td>Montant</td>
														<td>Type</td>
														<td></td>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</li>
									</ul>
								</div>
							</li>
						</ul>

						<ul class="collapsible" data-collapsible="expandable">
							<li id="shares">
								<div class="collapsible-header">
									<i class="material-icons">timer</i>
									Conditions d'emprunt
								</div>
								<div class="collapsible-body">
									<ul class="collection">
										<li class="collection-item">
											<table class="bordered striped highlight centered">
												<thead>
													<tr>
														<td>Montant</td>
														<td>Type</td>
														<td>Période</td>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</li>
									</ul>
								</div>
							</li>
							<li id="shares">
								<div class="collapsible-header"><i class="material-icons">place</i>Conditions d'emprunt</div>
								<div class="collapsible-body">
									<ul class="collapsible" data-collapsible="expandable">
										<li id="days">
											<div class="collapsible-header"><i class="material-icons">place</i>Par jour</div>
											<div class="collapsible-body">
												<ul class="collection">
													<li class="collection-item">
														<table>
															<thead>
																<tr>
																	<td>Montant</td>
																	<td>Type</td>
																	<td></td>
																</tr>
															</thead>
															<tbody></tbody>
														</table>
													</li>
												</ul>
											</div>
										</li>
										<li id="weekends">
											<div class="collapsible-header"><i class="material-icons">place</i>Par weekend</div>
											<div class="collapsible-body">
												<ul class="collection">
													<li class="collection-item">
														<table>
															<thead>
																<tr>
																	<td>Montant</td>
																	<td>Type</td>
																	<td></td>
																</tr>
															</thead>
															<tbody></tbody>
														</table>
													</li>
												</ul>
											</div>
										</li>
										<li id="weeks">
											<div class="collapsible-header"><i class="material-icons">place</i>Par semaine</div>
											<div class="collapsible-body">
												<ul class="collection">
													<li class="collection-item">
														<table>
															<thead>
																<tr>
																	<td>Montant</td>
																	<td>Type</td>
																	<td></td>
																</tr>
															</thead>
															<tbody></tbody>
														</table>
													</li>
												</ul>
											</div>
										</li>
										<li id="months">
											<div class="collapsible-header"><i class="material-icons">place</i>Par mois</div>
											<div class="collapsible-body">
												<ul class="collection">
													<li class="collection-item">
														<table>
															<thead>
																<tr>
																	<td>Montant</td>
																	<td>Type</td>
																	<td></td>
																</tr>
															</thead>
															<tbody></tbody>
														</table>
													</li>
												</ul>
											</div>
										</li>
										<li id="years">
											<div class="collapsible-header"><i class="material-icons">place</i>Par an</div>
											<div class="collapsible-body">
												<ul class="collection">
													<li class="collection-item">
														<table>
															<thead>
																<tr>
																	<td>Montant</td>
																	<td>Type</td>
																	<td></td>
																</tr>
															</thead>
															<tbody></tbody>
														</table>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>

					<div class="col s12 input-field section">
						<a class="btn" onclick="geoloc();"><i class="material-icons">my_location</i></a>
						<input id="address" type="text" name="address" />
						<label for="address">Adresse</label>
						<div id="map" class="map"></div>
					</div>

					<div class="col s12 input-field">
						<input type="date" class="datepicker" id="startdate" name="startdate" />
						<label for="start">Disponibilité</label>
						<ul class="collapsible" data-collapsible="expandable">
							<li id="shares">
								<div class="collapsible-header">
									<i class="material-icons">date_range</i>
									Planning
								</div>
								<div class="collapsible-body">
									<div class="calendar" id="calendar"></div>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</form>
</div>

<div class="row" id="demo">
	<div class="col s12">
		{% include 'product.html' %}
	</div>
</div>

<script type="text/javascript">
	{% include 'edit.js' %}
</script>

{% endblock %}